<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="/assets/Tamal.jpg">
      <md-card-title>Tamal Kanti Nath</md-card-title>
      <md-card-subtitle>Short introduction</md-card-subtitle>
   </md-card-title-group>
   <md-card-content>
        <p>I am a software developer from India since 2007.<br />
        I have primarily worked on Java and UI technologies.</p>
   </md-card-content>
   <md-card-actions>
        <a md-raised-button href="https://www.linkedin.com/in/tamalkantinath">Linked In</a>
        <a md-raised-button href="https://www.facebook.com/tamal.nath">Facebook</a>
        <a md-raised-button href="https://plus.google.com/+TamalKantiNath">Google+</a>
        <a md-raised-button href="https://twitter.com/tamalnath">Twitter</a>
   </md-card-actions>
 </md-card>
