<md-card>
   <md-card-title-group>
      <img md-card-sm-image src="/assets/Tamal.jpg">
      <md-card-title>Tamal Kanti Nath</md-card-title>
      <md-card-subtitle>Short introduction</md-card-subtitle>
   </md-card-title-group>
   <md-card-content>
        <p>I am a software developer from India since 2007.<br />
        I have primarily worked on Java and UI technologies.</p>
   </md-card-content>
   <md-card-actions>
        <a md-raised-button href="https://www.facebook.com/tamal.nath">
          <md-icon svgIcon="company:facebook"></md-icon>
          <span>Facebook</span>
        </a>
        <a md-raised-button href="https://github.com/tamalnath">
          <md-icon svgIcon="company:github"></md-icon>
          <span>Github</span>
        </a>
        <a md-raised-button href="https://plus.google.com/+TamalKantiNath">
          <md-icon svgIcon="company:google"></md-icon>
          <span>Google</span>
        </a>
        <a md-raised-button href="https://www.linkedin.com/in/tamalkantinath">
          <md-icon svgIcon="company:linkedin"></md-icon>
          <span>Linked In</span>
        </a>
        <a md-raised-button href="https://twitter.com/tamalnath">
          <md-icon svgIcon="company:twitter"></md-icon>
          <span>Twitter</span>
        </a>
   </md-card-actions>
 </md-card>
