<md-sidenav-layout fullscreen>
	<md-sidenav #sidenav align="end">
		<md-nav-list>
			<a md-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
				<md-icon>home</md-icon> &nbsp; Home
			</a>
      <a md-list-item routerLink="/settings" routerLinkActive="active">
				<md-icon>settings</md-icon> &nbsp; Settings
			</a>
      <a md-list-item routerLink="/about" routerLinkActive="active">
				<md-icon>info</md-icon> &nbsp; About
			</a>
	    <a md-list-item (click)="sidenav.close()">
				<md-icon>close</md-icon> &nbsp; Close
			</a>
		</md-nav-list>
	</md-sidenav>
	<md-toolbar color="primary">
		<md-icon>{{icon}}</md-icon>
		<span>&nbsp; {{title}}</span>
		<span class="filler"></span>
		<button md-icon-button (click)="sidenav.toggle()">
  		<md-icon>menu</md-icon>
  	</button>
	</md-toolbar>
	<router-outlet></router-outlet>
</md-sidenav-layout>
