<md-sidenav-container fullscreen>
	<md-sidenav #sidenav align="end">
		<md-nav-list>
			<a md-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="sidenav.close()">
				<md-icon>home</md-icon> &nbsp; Home
			</a>
			<a md-list-item routerLink="/dashboard" routerLinkActive="active" (click)="sidenav.close()">
				<md-icon>pie_chart</md-icon> &nbsp; Dashboard
			</a>
			<a md-list-item routerLink="/flex-layout" routerLinkActive="active" (click)="sidenav.close()">
				<md-icon>view_column</md-icon> &nbsp; Flex Layout
			</a>
		</md-nav-list>
	</md-sidenav>
	<md-toolbar color="primary">
		<md-icon>{{icon}}</md-icon>
		<span>&nbsp; {{title}}</span>
		<span class="filler"></span>
		<a md-icon-button routerLink="/login">
			<img [src]="authenticationService.user.photoURL" *ngIf="authenticationService.user?.photoURL" />
			<md-icon *ngIf="!authenticationService.user?.photoURL">face</md-icon>
		</a>
		<button md-icon-button (click)="sidenav.toggle()">
  		<md-icon>menu</md-icon>
  	</button>
	</md-toolbar>
	<router-outlet></router-outlet>
</md-sidenav-container>
