<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
    <mat-card>
        <mat-card-title>Pie Chart</mat-card-title>
        <mat-card-content>
            <pie-chart [data]="pieChart"></pie-chart>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Clock</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input type="number" matInput min="-11.5" max="11.5" step="0.5" placeholder="Time Zone" [(ngModel)]="timezone">
            </mat-form-field>
            <clock [timezoneOffset]="timezone"></clock>
        </mat-card-content>
    </mat-card>
</div>
