<mat-card>
   <mat-card-title-group>
      <img mat-card-sm-image src="/assets/Tamal.jpg">
      <mat-card-title>Tamal Kanti Nath</mat-card-title>
      <mat-card-subtitle>Short introduction</mat-card-subtitle>
   </mat-card-title-group>
   <mat-card-content>
        <p>I am a software developer from India since 2007.<br />
        I have primarily worked on Java and UI technologies.</p>
        <p>Built with Angular {{version}}</p>
   </mat-card-content>
   <mat-card-actions>
        <a mat-raised-button href="https://www.facebook.com/tamal.nath">
          <mat-icon svgIcon="company:facebook"></mat-icon>
          <span>Facebook</span>
        </a>
        <a mat-raised-button href="https://github.com/tamalnath">
          <mat-icon svgIcon="company:github"></mat-icon>
          <span>Github</span>
        </a>
        <a mat-raised-button href="https://plus.google.com/+TamalKantiNath">
          <mat-icon svgIcon="company:google"></mat-icon>
          <span>Google</span>
        </a>
        <a mat-raised-button href="https://www.linkedin.com/in/tamalkantinath">
          <mat-icon svgIcon="company:linkedin"></mat-icon>
          <span>Linked In</span>
        </a>
        <a mat-raised-button href="https://twitter.com/tamalnath">
          <mat-icon svgIcon="company:twitter"></mat-icon>
          <span>Twitter</span>
        </a>
   </mat-card-actions>
 </mat-card>
